
  
 .altura {
  height: 135px;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  
  
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  
}

.navbar-toggler {
  background: #fff;
  
}

.navbar-nav {
  text-align: center;

}

.nav-link {
  padding: .2rem 1rem;
  color:white;
  
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  
}
 
  h3{
    padding-left: 615px;
    padding-right: 300px;
  }

  p{
    padding-left: 500px;
    padding-right: 500px;
  }

  .lista-ordenada{
    padding-left: 485px;
    padding-right: 500px;
    
  }

  .carousel{
    width: 900px;
    margin-left: 500px;
    margin-right: 600px;
  }

  .img-fluid{
    width: 900px;
    margin-left: 500px;
    margin-right: 600px;
  }
  
  .b{
    padding-left: 500px;
    padding-right: 500px;

  }
  
  .banner {
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #ff9900;
    padding-left: 75px;
  }

  .banner-final{
    text-align: center;
    padding: 20px;
    width: 20%;
    height: 10%;
    background-color: #ff9900;
    padding-left: 20px;
  }
  .banner h1 {
    font-size: 75px;
  }

  .post-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 40px auto 0 auto;
  }
  
  .post {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #000f52;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
  }
  
  .text-box {
    position: middle;
  }
  
  .text-box textarea {
    width: 30%;
    height: 200px;
    padding: 50px;
    font-size: 16px;
    background-color: #ff9900;
    border: none;
    resize: none;
  }
  
  .text-box textarea:focus {
    outline: none;
  }
  
  .text-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  
  
/*Rodapé*/
/* ------------- */
/* Content Style */
/* ------------- */

.google-map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  overflow: hidden;
  border-radius: var(--circle-diameter);
  background-color: #091179;
  transition: 5000ms;
  cursor: grab;
}


.google-map::after {
  content: "";
  position: absolute;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: var(--circle-diameter);
  background: radial-gradient(circle, #ffffff00 0%, #f8f9fa 50%);
  pointer-events: none;
}


.google-map .map-frame {
  width: 48vw;
  height: 80vh;
  background-color: var(--light-theme);
}

.google-map iframe {
  position: relative;
  width: 48vw;
  height: 80vh;
  pointer-events: visibleStroke;
}


/* ------------------ */
/* Interactive Effect */
/* ------------------ */

.google-map:hover {
  width: 48vw;
  height: 80vh;
  border-radius: 0;
}

.row {

background-color: #ff9900;
right: 0px;
left: 0px;
}

.footer-logo {

background-color: var(--light-theme);
margin-top: 5px;
}

.form-ouvidoria .btn {

margin-top: 5px;
}
.redes-sociais {
display: flex;

}
.form-ouvidoria {
width: 35vw;
  height: 80vh;

}
.form-group {
width: 35vw;
height: 80vh;

}
.teste{


color: black;
text-decoration: none;

}